__pycache__/
*.py[cod]
.venv/
.DS_Store
*predictions*.json
val_predictions*.json
val_score*.json
predictions*.json
score*.json
models/*.pth
models/*score*.json
models_*/
models_frcnn*/
public/
public.zip
